---
import Layout from '../../layouts/Default.astro';
import GalleryComponent from "../../components/Gallery.astro";
---

<Layout title="Projects" description="Projects description">
    <div class="">
        <GalleryComponent />
    </div>
</Layout>