@import "tailwindcss";

@font-face {
    font-family: 'din-condenced-web'; /*a name to be used later*/
    src: url('/fonts/din-condenced.ttf'); /*URL to font*/
}
.p-carousel-indicator-active .p-carousel-indicator-button {
	background: #ff5e14 !important;
}
body {
	font-family: 'din-condenced-web', sans-serif;
	overflow-x: hidden!important;
	font-size: 20px;
	color: #171717;
	background-color: #fff;
}
h3 {
	font-size: 22px;
    font-weight: 500;
    position: relative;
    margin-top: 24px;
    margin-bottom: 34px;
}
h3:before {
    position: absolute;
    content: "";
    left: 0;
    top: 34px;
    width: 30px;
    height: 2px;
    background-color: #ff5e14;
}
.project-item {
	position: relative;
}
.project-item .project-title {
	display: block;
	visibility: hidden; 
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .5);
	padding: 20px;
	transition: opacity 0.5s;
}
.project-item:hover .project-title {
	opacity: 1;
	visibility: visible;
}



.p-button {
	background: #ff5e14!important;
	border-radius: unset!important;
	border: 2px solid #ff5e14!important;
	@apply transition duration-150;
}
.p-button-text.p-button-secondary {
	color: #fff!important;
}

.p-button:hover {
	background-color: #fff!important;
	border: 2px solid #ff5e14!important;
	color: #171717!important;
}
.p-image img {
	@apply  object-fill h-[150px] sm:h-[300px];
}

.p-inputtext:enabled:focus, .p-textarea:enabled:focus {
	border-color: #171717!important;
}
