@import "tailwindcss";

body {
	overflow-x: hidden;
}
h3 {
	font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    margin-top: 24px;
    margin-bottom: 34px;
}
h3:before {
    position: absolute;
    content: "";
    left: 0;
    top: 34px;
    width: 30px;
    height: 2px;
    background-color: #ff5e14;
}
.project-item {
	position: relative;
}
.project-item .project-title {
	display: block;
	visibility: hidden; 
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .5);
	padding: 20px;
	transition: opacity 0.5s;
}
.project-item:hover .project-title {
	opacity: 1;
	visibility: visible;
}

.p-galleria {
	border-style: none!important;
}
.p-galleria-thumbnails-content {
	background: transparent!important;
}