---
import Layout from '../layouts/Default.astro';
import AboutComponent from '../components/About.astro';
import Who from '../components/Who.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
<div class="">
	<AboutComponent />
	<Who />
</div>
</Layout>
