---
import Layout from '../layouts/Default.astro';
import ContactComponent from '../components/Contact.astro';
---

<Layout
	title="Contact"
	description="Lorem ipsum dolor sit amet"
>
<div class="bg-[#171717]">
    <ContactComponent />
</div>
</Layout>