---
import Layout from '../layouts/Default.astro';
import FaqComponent from '../components/Faq.astro';
import { getCollection } from 'astro:content';
const faqs = await getCollection('faqs');
---

<Layout
	title="Contact"
	description="Lorem ipsum dolor sit amet"
>
<div class="">
    <FaqComponent />
</div>
</Layout>