---
import Layout from '../layouts/Default.astro';
import ServicesComponent from '../components/Services.astro';
---

<Layout
	title="Services"
	description="Lorem ipsum dolor sit amet"
>
<div class="">
    <ServicesComponent />
</div>
</Layout>
