---

---
<div class="grid bg-[url(/slider-bg.jpg)] bg-cover bg-no-repeat bg-center sm:bg-right-bottom sm:grid-cols-2 px-4 py-10 sm:p-12">
	<div>
		<h3 class=" font-medium uppercase">About us</h3>
		<h2 class=" font-medium uppercase mb-4">10 Years of Experience</h2>
		<p class="">At CA Custom Homes LLC, we take great pride in crafting exceptional living spaces that reflect the dreams and aspirations of our valued clients. With over 10 years of unwavering commitment to excellence, we have established ourselves as a prominent construction company, dedicated to turning visions into reality.</p>
		<div class="mt-4">
			<a href="/contact" class="p-button !py-4 !px-6">Contact now</a>
		</div>
	</div>
</div>