---

---
<div class="grid sm:grid-cols-2 p-4 sm:p-12">
	<div>
		<h3 class="text-white font-medium uppercase">About us</h3>
		<h2 class="text-white font-medium uppercase mb-4">10 Years of Experience</h2>
		<p class="text-white">At CA Custom Homes LLC, we take great pride in crafting exceptional living spaces that reflect the dreams and aspirations of our valued clients. With over 10 years of unwavering commitment to excellence, we have established ourselves as a prominent construction company, dedicated to turning visions into reality.</p>
	</div>

</div>