---

---
<div class="grid sm:grid-cols-2 p-4 sm:p-12">
    <div>
        <h3 class="text-white font-medium uppercase">Let's start a project</h3>
        <p class="text-white">Give us a call or Chat Anytime, We will be happy to answer your questions.</p>

        
    </div>
    <div>
        <h3 class="text-white font-medium uppercase">Get in touch</h3>
    </div>
</div>