---
const today = new Date();
---

<footer>
	<div class="bg-[#212121] p-4 text-white text-center">
		&copy; {today.getFullYear()} Your name here. All rights reserved.
	</div>
</footer>
<style>
	
</style>
