---
import GalleryHomeList from "./GalleryHomeList.vue";
import { getCollection } from 'astro:content';
const gallery = await getCollection('gallery');
---
<div class="p-4 sm:p-12">
    <div class="mb-4">
		<h3 class=" font-medium uppercase">Gallery</h3>
	</div>
    <GalleryHomeList gallery={gallery}  client:load />
</div>