---
import HeaderLink from './HeaderLink.astro';

import { getCollection } from 'astro:content';
const menu = await getCollection('menu');

import { SITE_TITLE } from '../consts';
import LeftOffCanvas from './LeftOffcanvas.vue';
const headerClass = ['uppercase font-medium text-white p-4 mr-2'];

---

<header class="bg-[#171717] py-4 px-4 sm:px-12 flex justify-between items-center">
	<div class="flex items-center">
		<a href="/" class="flex items-center">
			<img src="/logo.png" class="h-[30px] sm:h-[50px]" alt="Logo">
			<div class="text-white uppercase font-medium text-xl sm:text-3xl">custom Homes</div>
		</a>
	</div>
	<div class="sm:hidden">
		<LeftOffCanvas menu={menu} client:load />
	</div>
	<nav class="hidden sm:flex justify-end items-center">
			{menu.map(item => (
				<HeaderLink class:list={headerClass} href={item.data.link}>{item.data.name}</HeaderLink>
			))}
			<div>
				<a href="/contact/index.html" class="uppercase !font-medium !py-4 !px-6 mr-2 p-button">Call now</a>
			</div>
	</nav>
</header>
<style>
	
