---
import { getCollection } from 'astro:content';
import ProList from './ProjectList.vue';
const projects = await getCollection('projects');

const itemClass = ['project-item p-4 h-[250px] bg-center bg-cover'];
const titleClass = ['project-title uppercase font-medium text-4xl text-gray-700'];
---
<div class="p-4 sm:p-12">
    <ProList projects={projects} client:load />
</div>