---

---
<div class="bg-[#171717] p-4 sm:p-12">
    <h3 class="font-medium uppercase text-white">Who we are?</h3>
    <div class="grid sm:grid-cols-3 gap-6">
        <div class="bg-white group border-white border-2 hover:bg-[#171717] hover:border-[#ff5e14] hover:text-white duration-250 p-6">
            <div class="flex mb-2 items-center">
                <div class="bg-[#ff5e14] p-2 w-12 h-12 text-center mr-2 text-white">01</div>
                <div>Our Passion for Customization</div>
            </div>
            <p class="text-gray-700 group-hover:text-white">We believe that a home is not just a structure; it is a haven of comfort, a sanctuary of memories, and a canvas of self-expression. Our passion lies in the art of customization, and we approach every project with an artist's eye and a builder's expertise. Our team of skilled architects, designers, and craftsmen work harmoniously to create personalized spaces that resonate with individual tastes and lifestyles.</p>
        </div>
       <div class="bg-white group border-white border-2 hover:bg-[#171717] hover:border-[#ff5e14] hover:text-white duration-250 p-6">
            <div class="flex mb-2 items-center">
                <div class="bg-[#ff5e14] p-2 w-12 h-12 text-center mr-2 text-white">02</div>
                <div>Unwavering Commitment to Quality</div>
            </div>
            <p class="text-gray-700 group-hover:text-white">At CA Custom Homes LLC, quality is the cornerstone of everything we do. From the selection of premium materials to the implementation of industry-leading construction practices, we are dedicated to delivering homes that stand the test of time. Our meticulous attention to detail and adherence to the highest standards ensure that each project is completed with precision and finesse.</p>
        </div>
       <div class="bg-white group border-white border-2 hover:bg-[#171717] hover:border-[#ff5e14] hover:text-white duration-250 p-6">
            <div class="flex mb-2 items-center">
                <div class="bg-[#ff5e14] p-2 w-12 h-12 text-center mr-2 text-white">03</div>
                <div>Transparency and Communication</div>
            </div>
            <p class="text-gray-700 group-hover:text-white">We understand that the process of building a custom home can be both exciting and daunting. That's why we prioritize open communication and transparency throughout every stage of the project. Our dedicated project managers keep our clients informed about progress, address any concerns promptly, and collaborate closely to ensure that the final result exceeds expectations.</p>
        </div>
       <div class="bg-white group border-white border-2 hover:bg-[#171717] hover:border-[#ff5e14] hover:text-white duration-250 p-6">
            <div class="flex mb-2 items-center">
                <div class="bg-[#ff5e14] p-2 w-12 h-12 text-center mr-2 text-white">04</div>
                <div>A Legacy of Experience</div>
            </div>
            <p class="text-gray-700 group-hover:text-white">With more than a decade of experience in the construction industry, CA Custom Homes LLC has earned a stellar reputation for excellence, reliability, and professionalism. Our portfolio includes a diverse range of projects, from luxurious estates to contemporary urban dwellings, each showcasing our unwavering commitment to creating living spaces that are both functional and breathtaking.</p>
        </div>
       <div class="bg-white group border-white border-2 hover:bg-[#171717] hover:border-[#ff5e14] hover:text-white duration-250 p-6">
            <div class="flex mb-2 items-center">
                <div class="bg-[#ff5e14] p-2 w-12 h-12 text-center mr-2 text-white">05</div>
                <div>Community-Oriented Approach</div>
            </div>
            <p class="text-gray-700 group-hover:text-white">As a locally owned and operated company, we are deeply connected to the communities we serve. We believe in giving back and actively participate in charitable initiatives that promote the betterment of our neighborhoods. We strive to leave a positive impact on the lives of those we encounter, not just through our construction projects but also through our commitment to social responsibility.</p>
        </div>
       <div class="bg-white group border-white border-2 hover:bg-[#171717] hover:border-[#ff5e14] hover:text-white duration-250 p-6">
            <div class="flex mb-2 items-center">
                <div class="bg-[#ff5e14] p-2 w-12 h-12 text-center mr-2 text-white">06</div>
                <div>Join Us in Building Dreams</div>
            </div>
            <p class="text-gray-700 group-hover:text-white">At CA Custom Homes LLC, we invite you to embark on a journey of imagination and creation. Whether you are envisioning a traditional abode, a modern masterpiece, or anything in between, our team of experts is here to turn your dreams into a tangible reality. Experience the art of custom home construction with us and let your imagination be the foundation of your perfect home. Let's build together, because we believe that every brick we lay is a testament to our legacy of excellence and dedication to the art of construction.</p>
        </div>
    </div>
</div>