---
import Layout from '../../layouts/Default.astro';
import ProjectList from "../../components/ProjectList.astro";

---
<Layout title="Projects" description="Projects description">
    <div class="bg-[#171717]">
        <ProjectList />
    </div>
</Layout>